@import 'tailwindcss';

@theme {
    --color-black: #322625;
    --color-grey: #ebebeb;
    --color-blue: #c0e3e5;
    --color-yellow: #fdc936;

    --font-neutra: 'Neutra Text', sans-serif;

    @keyframes progress {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    --animate-progress: progress 2s linear infinite;
}

:root {
    background-color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
